@* header Template File *@
@(username: String, mvdata : Seq[models.Movie])

<head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/selectStyle.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/rating.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>

<h1 id="welcomeheader" align=center> Welcome! </h1>

@if(username != ""){
	<script type="text/javascript" charset="utf-8">
		document.getElementById("welcomeheader").innerHTML = "Welcome @username!";
	</script>
} else {
	<script type="text/javascript" charset="utf-8">
		document.getElementById("welcomeheader").innerHTML = "Welcome!";
	</script>
}



<div class="tab">
	<button id="tabIndex" class="tablinks" onclick="location.href='@routes.HomeController.index()'">Index</button>
	<button id="tabMovie" class="tablinks" onclick="openCity(event, 'Movie')">Browse Movie</button>
	@if(username == ""){
		<button id="tabLogin" class="tablinks" onclick="openCity(event, 'Login')">Login</button>
		<button id="tabSignUp" class="tablinks" onclick="openCity(event, 'Signup')">Sign Up</button>
	}else{
		<button id="tabMyPage" class="tablinks" onclick="location.href='@routes.HomeController.userinfo()'">My Page</button>
		<button id="tabLogout" class="tablinks right" onclick="location.href='@routes.HomeController.LogoutUser()'">Logout</a></button>
	}	
</div>


<div id="Movie" class="tabcontent">

	<div id="mvfilter" class="mvfilter">
	   <p>
	   	<fieldset class="filter1">
	   		<legend align="center"><h3>Filter movie</h3></legend>
			<form id="mv-search-form" role="form" action='@routes.HomeController.searchMovieControl()' method="get" align="left">
				<div class="namefilter">
					<input type="hidden" id="searchdb" name="searchdb" value="moviedb">
					<input type="text" id="searchbox" name="searchterm" placeholder="Name Keyword" autocomplete="on" value="">
				</div>
				<div id="mainselection" class="genrefilter">
			    	<select id="searchgenre" name="searchgenre">
			    		<option value="none">Select a genre</option>
			    		<option value="adventure">Adventure</option>
			    		<option value="action">Action</option>
						<option value="comedy">Comedy</option>
						<option value="animation">Animation</option>
						<option value="fantasy">Fantasy</option>
					</select>
				</div>
		        
				<button type="submit">Filter</button>
<!--
				<input type="image" src="@routes.Assets.at("images/search.png")" alt="Submit" width="48" height="48">
-->
			</form>
		</fieldset>
	  </p>
	</div>

	<fieldset>
        <legend align="center"><h3>List of Movies</h3></legend>
        <table cellspacing="20">
            <tr>
                <th>id</th>
                <th>Title</th>
                <th>Release Year</th>
                <th>Genre</th>
                <th>Rating</th>
            </tr>
            @for(mv1 <- mvdata){
            <tr>
                <td>@mv1.id</td>
                <td><a href="@routes.HomeController.movieinfo(mv1.id)">@mv1.title</a></td>
                <td>@mv1.release</td>
                <td>@mv1.genre</td>
                <td>
                	  <div class="rating-bar">
					    <div class="rate-@mv1.rating">
					      <span class="animate gold"></span>
					    </div>
					  </div>
				</td>
            </tr>
            }
        </table>
    </fieldset>
</div>


<script type="text/javascript" charset="utf-8">
function openCity(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
//    tabcontent = document.getElementsByClassName("tabcontent");
//    for (i = 0; i < tabcontent.length; i++) {
//        tabcontent[i].style.display = "none";
//    }

    // Get all elements with class="tablinks" and remove the class "active"
//    tablinks = document.getElementsByClassName("tablinks");
//    for (i = 0; i < tablinks.length; i++) {
//        tablinks[i].className = tablinks[i].className.replace(" active", "");
//    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    if (document.getElementById(tabName).style.display == "block"){
    	document.getElementById(tabName).style.display = "none";
    	evt.currentTarget.className.replace(" active", "");
    	
    	tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    
	    // Get all elements with class="tablinks" and remove the class "active"
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }

    } else {
    	tabcontent = document.getElementsByClassName("tabcontent");
	    for (i = 0; i < tabcontent.length; i++) {
	        tabcontent[i].style.display = "none";
	    }
	    
	    // Get all elements with class="tablinks" and remove the class "active"
	    tablinks = document.getElementsByClassName("tablinks");
	    for (i = 0; i < tablinks.length; i++) {
	        tablinks[i].className = tablinks[i].className.replace(" active", "");
	    }

    	document.getElementById(tabName).style.display = "block";
    	evt.currentTarget.className += " active";
    }
//    document.getElementById(tabName).style.display = "block";
//    evt.currentTarget.className += " active";
}
</script>