@(user: models.User, mvdata : Seq[models.Movie]) 

@import helper._

@header(user.username, mvdata) 

<div id="Mypage" class="tabcontent" >
</div>
	
<div id="Login" class="tabcontent">
  	<div class="login-page">
  		<div class="login-error">
  			<p align=center><font color="red">You are not logged in!</font></p> 
  			<p align=center><font color="red">Wrong username or password!</font></p> 
  		</div>
  		@loginform()
  		
	</div>
</div>

<div id="Signup" class="tabcontent">
  	<p></p>
  	<div class="signup-page">
  		@signupform()
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	document.getElementById("tabLogin").click();
</script>


